# Skopiuj do secrets.yaml i uzupelnij.
wifi_ssid: "MojaSiec"
wifi_password: "haslo-wifi"

# Klucz API: 32 losowe bajty w base64, np. `openssl rand -base64 32`
round_cyd_api_key: "..."
round_cyd_ap_password: "haslo-hotspotu-awaryjnego"

sc01_plus_api_key: "..."
sc01_plus_ap_password: "haslo-hotspotu-awaryjnego"
